################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

# Ignorar directorios bin y obj
bin/
obj/

# Ignorar archivos específicos generados por compilación
*.exe
*.dll
*.pdb
*.vsidx
# Ignorar carpetas Debug y Release
Debug/
Release/

# Ignorar configuración de Visual Studio específica del proyecto
.vs/Aprecia.Onbording.Gateway/

# Ignorar la carpeta logs en Aprecia.OnBoarding.Gateway.Api
# Ignorar la carpeta Logs en Aprecia.OnBoarding.Gateway.Api
Aprecia.OnBoarding.Gateway.Api/Logs/
